node_modules
.DS_Store
dist
dist-ssr
*.local
count.txt
.env
.env.local
.env.local.production
.env.production
.spec-workflow
.nitro
.tanstack
.output
.vinxi
todos.json
supabase/.temp

# Local Netlify folder
.netlify

# Tanstack Start related files
src/routeTree.gen.tsdocs/
.wrangler/state/v3/r2/